[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
robotframework-seleniumlibrary = "*"
webdrivermanager = "*"

[dev-packages]
robotframework = "*"
robotframework-seleniumlibrary = "*"
webdrivermanager = "*"

[requires]
python_version = "3.8"
